<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t ".panel_title".html_safe %>
  </div>
  <div class="panel-body">
    <div class="row wordlist-menu">
      <div class="row wordlist-menu-row">
        <%= t ".category" %>
      </div>
      <div class="row wordlist-menu-row">
        <select class="">
          <option value="leeson1">Basic</option>
          <option value="leeson2">Intermediate</option>
          <option value="leeson3">Advance</option>
          <option value="leeson4">Super Advance</option>
        </select>
        &nbsp;
        <%= radio_button_tag "filter", "learned" %> <%= t ".learned".html_safe %>
        <%= radio_button_tag "filter", "not_learned" %> <%= t ".not_learned".html_safe %>
        <%= radio_button_tag "filter", "all" %> <%= t ".all".html_safe %>
      </div>
      <div class="row wordlist-menu-row">
        <%= link_to "#{t '.filter'}".html_safe, "#", class: "btn btn-default" %>
        <%= link_to "#{t '.pdf'}".html_safe, "#", class: "btn btn-default" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <% 10.times do %>
            <li>
              <div class="col-md-6 category-word-entries">
                <%= t ".vietnamese_sample".html_safe %>
              </div>
              <div class="col-md-6 category-word-entries">
                <%= t ".japanese_sample".html_safe %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <% 10.times do %>
            <li>
              <div class="col-md-6 category-word-entries">
                <%= t ".vietnamese_sample".html_safe %>
              </div>
              <div class="col-md-6 category-word-entries">
                <%= t ".japanese_sample".html_safe %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>