<% @user ||= current_user %>
<div class="total-learned">
  <%= t ".total_words" %>
  <h3><b><%= @user.total_words_learned %></b></h3>
</div>
<a href="<%= relationships_path @user, type: 'following' %>">
  <strong id="following" class="stat">
    <%= @user.following.count %>
  </strong>
  <%= t ".following" %>
</a>
<a href="<%= relationships_path @user, type: 'followers' %>">
  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>
  <%= t ".followers" %>
</a>