<% if logged_in? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <%= t ".panel_title" %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="row user-profile">
            <%= link_to image_tag(current_user.avatar, size: "150x150") %>
          </div>
          <div class="row user-profile">
            <%= current_user.full_name %>
          </div>
          <div class="row user-profile">
            <%= t ".sample_output" %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <%= link_to t(".button_words"), words_path, class: "btn btn-primary btn-lg" %>
            <%= link_to t(".button_lessons"), categories_path, class: "btn btn-primary btn-lg" %>
          </div>
          <div class="row">
            <h3><%= t ".activities" %></h3>
            <ul>
              <% @activities.each do |activity| %>
                <li>
                  <%= image_tag activity.user.avatar, size: "50x50" %>
                  <%= activity.content %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
  </div>
<% else %>
  <%= render "signup" %>
<% end%>