<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t ".panel_title" %>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for @lesson do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :category_id %>
        <div class="col-md-6">
          <div class="word">
            <h1>
              <b><%= @word %></b>
            </h1>
          </div>
        </div>
        <%= f.fields_for :lesson_words, @lesson_word do |ff| %>
          <%= ff.hidden_field :id %>
          <%= ff.hidden_field :lesson_id %>
          <%= ff.hidden_field :word_id%>
          <%= ff.hidden_field :answer_id, id: "answer_id" %>
          <div class="col-md-6">
            <ul>
              <% @answers.shuffle.each do |answer| %>
                <li>
                  <%= ff.button answer.content, class: "btn btn-success answers",
                    value: answer.id, type: "button" %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>